<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN THEME PANEL -->
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
            <div class="theme-options">
                <div class="theme-option theme-colors clearfix">
                    <span> THEME COLOR </span>
                    <ul>
                        <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                        <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue"> </li>
                        <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                        <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                        <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                        <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2">
                        </li>
                    </ul>
                </div>
                <div class="theme-option">
                    <span> Theme Style </span>
                    <select class="layout-style-option form-control input-sm">
                                        <option value="square" selected="selected">Square corners</option>
                                        <option value="rounded">Rounded corners</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Layout </span>
                    <select class="layout-option form-control input-sm">
                                        <option value="fluid" selected="selected">Fluid</option>
                                        <option value="boxed">Boxed</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Header </span>
                    <select class="page-header-option form-control input-sm">
                                        <option value="fixed" selected="selected">Fixed</option>
                                        <option value="default">Default</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Top Menu Dropdown</span>
                    <select class="page-header-top-dropdown-style-option form-control input-sm">
                                        <option value="light" selected="selected">Light</option>
                                        <option value="dark">Dark</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Mode</span>
                    <select class="sidebar-option form-control input-sm">
                                        <option value="fixed">Fixed</option>
                                        <option value="default" selected="selected">Default</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Menu </span>
                    <select class="sidebar-menu-option form-control input-sm">
                                        <option value="accordion" selected="selected">Accordion</option>
                                        <option value="hover">Hover</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Style </span>
                    <select class="sidebar-style-option form-control input-sm">
                                        <option value="default" selected="selected">Default</option>
                                        <option value="light">Light</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Sidebar Position </span>
                    <select class="sidebar-pos-option form-control input-sm">
                                        <option value="left" selected="selected">Left</option>
                                        <option value="right">Right</option>
                                    </select>
                </div>
                <div class="theme-option">
                    <span> Footer </span>
                    <select class="page-footer-option form-control input-sm">
                                        <option value="fixed">Fixed</option>
                                        <option value="default" selected="selected">Default</option>
                                    </select>
                </div>
            </div>
        </div>
        <!-- END THEME PANEL -->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Feature</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Ngành Hàng</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                                <i class="icon-bell"></i> Action</a>
                        </li>
                        <li>
                            <a href="#">
                                                <i class="icon-shield"></i> Another action</a>
                        </li>
                        <li>
                            <a href="#">
                                                <i class="icon-user"></i> Something else here</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="#">
                                                <i class="icon-bag"></i> Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title"> Ngành Hàng
            <small>Quản lý ngành hàng</small>
        </h1>
        <!-- END PAGE TITLE-->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase"></span>
                        </div>
                        <div class="actions">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                                    <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                                <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                                    <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-group">
                                        <button id="sample_editable_1_new" data-target="#responsive" data-toggle="modal" class="btn sbold green"> Add New
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group pull-right">
                                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                            <i class="fa fa-angle-down"></i>
                                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="javascript:;">
                                                                    <i class="fa fa-print"></i> Print </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                                    <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                                    <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                            <span></span>
                                                        </label>
                                    </th>
                                    <th> STT </th>
                                    <th> Mã </th>
                                    <th> Tên </th>
                                    <th> Tên Tiếng Anh </th>
                                    <th> Hỗ Trợ Tạo Mã Hàng </th>
                                    <th> Mã Qui Chuyển </th>
                                    <th> Rạp Chiếu Phim </th>
                                    <th> Nhà Hàng </th>
                                    <th> Cần Điểm Chuẩn </th>
                                    <th> Cho phép bán hàng có giá nhỏ hơn 0</th>
                                            <th> Hiển Thị Trên Web </th>
                                            <th> Ghi Chú </th>
                                            <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" *ngFor="let tradeGood of tradeGoods; let i = index" >
                                    <td>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                            <input type="checkbox" class="checkboxes" value="1" />
                                                            <span></span>
                                                        </label>
                                    </td>
                                    <td>{{i}}</td>
                                    <td>{{tradeGood.TradeGoodsCode}}</td>
                                    <td>{{tradeGood.TradeGoodsName}}</td>
                                    <td>{{tradeGood.TradeGoodsName_English}}</td>
                                    <td>{{tradeGood.BarcodeSupport}}</td>
                                    <td>{{tradeGood.TradeGoodsCode_For_Export}}</td>
                                    <td><input type="checkbox" class="checkboxes" value="{{tradeGood.IsCinema}}" /></td>
                                    <td><input type="checkbox" class="checkboxes" value="{{tradeGood.IsRestaurant}}" /></td>
                                    <td><input type="checkbox" class="checkboxes" value="{{tradeGood.IsNeedMarkDefault4Material}}" /></td>
                                    <td><input type="checkbox" class="checkboxes" value="{{tradeGood.Allow_BanHang_GiaNhoHonOrBangZero}}" /></td>
                                    <td><input type="checkbox" class="checkboxes" value="{{tradeGood.IsDisplayOnWeb}}" /></td>
                                    <td>{{tradeGood.Note}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xoa-nganh-hang" (click)="deleteTradeGoodById(tradeGood.TradeGoodsId)">Xóa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <div id="responsive" class="modal fade bs-modal-lg" role="dialog" data-replace="true" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Vùng Nhập Liệu</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green-haze">
                                        <i class="icon-settings font-green-haze"></i>
                                        <span class="caption-subject bold uppercase"> Tạo Ngành Hàng </span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only blue" href="javascript:;">
                                                <i class="icon-cloud-upload"></i>
                                            </a>
                                        <a class="btn btn-circle btn-icon-only green" href="javascript:;">
                                                <i class="icon-wrench"></i>
                                            </a>
                                        <a class="btn btn-circle btn-icon-only red" href="javascript:;">
                                                <i class="icon-trash"></i>
                                            </a>
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-2 control-label" for="form_control_1">Mã Ngành Hàng</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Nhập mã ngành hàng Eg.NMM">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-2 control-label" for="form_control_1">Tên Ngành Hàng</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Nhập tên ngành hàng Eg.Ngành May Mặc">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-2 control-label" for="form_control_1">Tên Tiếng Anh</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Nhập tên tiếng anh cho ngành hàng Eg.Garment Industry">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input">
                                                <label class="col-md-2 control-label" for="form_control_1"></label>
                                                <div class="col-md-10 md-checkbox-inline">
                                                    <div class="md-checkbox has-success">
                                                        <input type="checkbox" id="checkbox14" class="md-check">
                                                        <label for="checkbox14">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Giỏ Hàng < 0 </label>
                                                    </div>
                                                    <div class="md-checkbox has-success">
                                                        <input type="checkbox" id="checkbox15" class="md-check" checked="">
                                                        <label for="checkbox15">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Rạp Chiếu Phim </label>
                                                    </div>
                                                    <div class="md-checkbox has-success">
                                                        <input type="checkbox" id="checkbox16" class="md-check">
                                                        <label for="checkbox16">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Nhà Hàng </label>
                                                    </div>
                                                    <div class="md-checkbox has-success">
                                                        <input type="checkbox" id="checkbox16" class="md-check">
                                                        <label for="checkbox16">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Điểm Chuẩn </label>
                                                    </div>
                                                    <div class="md-checkbox has-success">
                                                        <input type="checkbox" id="checkbox16" class="md-check">
                                                        <label for="checkbox16">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> Hiển Thị Web </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Hỗ Trợ Tạo Mã</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="form_control_1" placeholder="Nhập hỗ trợ tạo mã hàng Eg. ABCXUZ">
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Ghi Chú</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="form_control_1" placeholder="Nhập ghi chú cho ngành hàng Eg. Nghành may mặc">
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Mã Ngành Quy Chuyển</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="form_control_1" placeholder="Nhập mã ngành quy chuyển Eg. LKCBD">
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                                                    <button type="button" data-dismiss="modal" id="btn-tao-nganh-hang" class="btn blue">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>